<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        h3 {
            color: #1166f0
        }
    </style>
</head>
<body>
    <h3>{{ .title }}</h3>
    <p>{{ .description }}</p>
</body>
</html>
