<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        h3 {
            color: #1166f0
        }
    </style>
</head>
<body>
<h3>Hello, please use this code to verify your email</h3>
<p>Verification Code: <b>{{ .code }}</b></p>
</body>
</html>
